CompileFlags: # Tweak the parse settings
  Compiler: clang
  Add:
    - "-xc"
    - "-I/usr/include/"
    - "-I/home/maiboyer/Documents/ring-3/cub3d/"
    - "-I/home/maiboyer/Documents/ring-3/cub3d/include/"
    - "-I/home/maiboyer/Documents/ring-3/cub3d/output/include"
    - "-I/home/maiboyer/Documents/ring-3/cub3d/stdme/output/include"
    - "-I/home/maix/school/ring-3/cub3d/include"
    - "-I/home/maix/school/ring-3/cub3d/output/include"
    - "-I/home/maix/school/ring-3/cub3d/stdme/output/include"
